<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>gp_manager</string>
	<key>connections</key>
	<dict>
		<key>34E4099C-5438-4F6E-95D4-CB2E706E73E5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D49374C1-0BF0-4935-89B3-BC0B32937F20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>513BD38C-BB33-4B7E-94B9-F3F963090A7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BFF45E5-BD56-4656-A903-79B66AC8E483</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8BFF45E5-BD56-4656-A903-79B66AC8E483</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3EB98CBA-5FE1-47EF-A40D-2ABD5A60F0A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8D69922C-CF3A-43C1-8364-80DB09D65DBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AC8DC3BB-0C34-4B60-A6A9-16B23D8772D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BFF45E5-BD56-4656-A903-79B66AC8E483</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D2019980-9C5F-4220-A4E6-004CAA7CC1B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8BFF45E5-BD56-4656-A903-79B66AC8E483</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>E42AB508-064B-40DF-BFF0-39DA0B8844B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D49374C1-0BF0-4935-89B3-BC0B32937F20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FE735396-F055-48CE-9969-BFB4D4C6FC18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D49374C1-0BF0-4935-89B3-BC0B32937F20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>FF2F5688-2A5D-49EA-A0A7-44B253B94B8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D49374C1-0BF0-4935-89B3-BC0B32937F20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>pangliang</string>
	<key>description</key>
	<string>github page manager. new, edit, delete posts</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gp_manager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gp new</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php -f ./cmd.php "add {query}"</string>
				<key>subtext</key>
				<string>new post, use filename {query}</string>
				<key>title</key>
				<string>new</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>34E4099C-5438-4F6E-95D4-CB2E706E73E5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gp edit</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php -f ./cmd.php "edit {query}"</string>
				<key>subtext</key>
				<string>edit post which filename like *{query}*</string>
				<key>title</key>
				<string>edit</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FE735396-F055-48CE-9969-BFB4D4C6FC18</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f ./action.php {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D49374C1-0BF0-4935-89B3-BC0B32937F20</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gp templet</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php -f ./cmd.php "templet {query}"</string>
				<key>subtext</key>
				<string>edit templet which name like *{query}*</string>
				<key>title</key>
				<string>templet</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E42AB508-064B-40DF-BFF0-39DA0B8844B4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gp config</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php -f ./cmd.php "config"</string>
				<key>subtext</key>
				<string>edit config file</string>
				<key>title</key>
				<string>config</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FF2F5688-2A5D-49EA-A0A7-44B253B94B8D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3EB98CBA-5FE1-47EF-A40D-2ABD5A60F0A5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gp paste2qiniu</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php -f ./cmd.php "paste2qiniu"</string>
				<key>subtext</key>
				<string>upload image file to qiniucdn from clipboard</string>
				<key>title</key>
				<string>paste2qiniu</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D2019980-9C5F-4220-A4E6-004CAA7CC1B7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>php -f ./action.php {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8BFF45E5-BD56-4656-A903-79B66AC8E483</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gp qiniulogin</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php -f ./cmd.php "qiniulogin {query}"</string>
				<key>subtext</key>
				<string>qiniulogin</string>
				<key>title</key>
				<string>qiniulogin</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AC8DC3BB-0C34-4B60-A6A9-16B23D8772D5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>save image</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8D69922C-CF3A-43C1-8364-80DB09D65DBE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gp paste2image</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>script</key>
				<string>php -f ./cmd.php "paste2image"</string>
				<key>subtext</key>
				<string>save image file from clipboard</string>
				<key>title</key>
				<string>paste2image</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>513BD38C-BB33-4B7E-94B9-F3F963090A7E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>34E4099C-5438-4F6E-95D4-CB2E706E73E5</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>3EB98CBA-5FE1-47EF-A40D-2ABD5A60F0A5</key>
		<dict>
			<key>ypos</key>
			<real>660</real>
		</dict>
		<key>513BD38C-BB33-4B7E-94B9-F3F963090A7E</key>
		<dict>
			<key>ypos</key>
			<real>920</real>
		</dict>
		<key>8BFF45E5-BD56-4656-A903-79B66AC8E483</key>
		<dict>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>8D69922C-CF3A-43C1-8364-80DB09D65DBE</key>
		<dict>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>AC8DC3BB-0C34-4B60-A6A9-16B23D8772D5</key>
		<dict>
			<key>ypos</key>
			<real>790</real>
		</dict>
		<key>D2019980-9C5F-4220-A4E6-004CAA7CC1B7</key>
		<dict>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>D49374C1-0BF0-4935-89B3-BC0B32937F20</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>E42AB508-064B-40DF-BFF0-39DA0B8844B4</key>
		<dict>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>FE735396-F055-48CE-9969-BFB4D4C6FC18</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>FF2F5688-2A5D-49EA-A0A7-44B253B94B8D</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.zhaoxiaodan.com</string>
</dict>
</plist>
